<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?><!DOCTYPE html> 
<script src="<?=js_dir('jquery.min.js')?>"></script>
<script src="<?=js_dir('tether.min.js')?>"></script><!-- Tether for Bootstrap -->

<script src="<?=js_dir('bootstrap.min.js')?>"></script>

<script src="<?=js_dir('metisMenu.min.js')?>"></script>

<script src="<?=js_dir('waves.js')?>"></script>

<script src="<?=js_dir('jquery.slimscroll.js')?>"></script> 
<!-- App js -->


<script src="<?php echo base_url();?>assets/js/jquery.core.js"></script>

<script src="<?php echo base_url();?>assets/js/jquery.app.js"></script> 