<div class="nav-fixed">
    <header class="b-topBar">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-xs-6">
            <div class="b-topBar__addr">
              <div class="gal-header-social-icons">  
                <a href="#"><span class="gi-facebook font-light"></span></a>
                <a href="#"><span class="gi-twitter font-light"></span></a>
                <a href="#"><span class="gi-instagram font-light"></span></a>
                <a href="#"><span class="gi-linkedin font-light"></span></a>
                <a href="#"><span class="gi-youtube font-light"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6 gal-contact-container">  
            <div class="b-topBar__tel">
              <span class="fa fa-envelope"></span>
                <a href="mailto:info@gallega.com">Email:  info@gallega.com</a> 
              <span class="pull-right p-r-20"><a href="tel:+97148215099"> +971 48 215 099</a></span>
            </div>
          </div>

          <div class="col-md-4 col-xs-6 gal-acount-container"> 
            <nav class="b-topBar__nav">
              <ul style="color:#FFFFFF;"> 
                <li><a href="#">Register</a></li>
                <li><a href="<?=site_url('login')?>">Login</a></li>
                <li><a href="<?=site_url('search')?>">Search</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-md-2 col-xs-6 gal-lang-container">
            <div class="b-topBar__lang">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle='dropdown'>Language</a>
                <a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-en"></span>EN<span class="fa fa-caret-down"></span></a>
                <ul class="dropdown-menu h-lang">
                  <li><a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-en"></span>EN</a></li>
                  <li><a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-es"></span>ES</a></li>
                  <li><a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-de"></span>DE</a></li>
                  <li><a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-fr"></span>FR</a></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </header><!--b-topBar-->
    <nav class="b-nav" >
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-4">
            <div class="b-nav__logo"> <!-- slideInLeft --> 
              <a href="<?=base_url()?>">
                <img class="main-logo" src="<?=$meta[5]->zsystem_value;?>" width="61%">
                <img class="light-logo" src="<?=$meta[5]->zsystem_value;?>" width="61%">
              </a>
            </div>
          </div>
          <div class="gal-main-nav-container col-sm-9 col-xs-8">
            <div class="b-nav__list"> <!-- slideInRight -->
              <div class="navbar-main-slide">
                <ul class="navbar-nav-menu">
                  <li><a href="<?=base_url()?>">Home</a></li> 
                  <li><a href="<?=base_url('about-us')?>">About</a></li>
                  <li><a href="<?=base_url()?>#how-works">How it works</a></li> 
                  <li><a href="<?=base_url('contact')?>">Contact Us</a></li> 
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav><!--b-nav-->
  </div><!-- .nav-fixed -->