<div class="b-features">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-md-offset-3 col-xs-6 col-xs-offset-6">
          <ul class="b-features__items">
            <li class="wow fadeIn" data-wow-delay="0.5s" data-wow-offset="100">Low Prices, No Haggling</li>
            <li class="wow fadeIn" data-wow-delay="0.5s" data-wow-offset="100">Largest Car Dealership</li>
            <li class="wow fadeIn" data-wow-delay="0.5s" data-wow-offset="100">Multipoint Safety Check</li>
          </ul>
        </div>
      </div>
    </div>
  </div><!--b-features-->

  <div class="b-info">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <aside class="b-info__aside">
            <article class="b-info__aside-article">
              <h3>OPENING HOURS</h3>
              <div class="b-info__aside-article-item">
                <h6>Sales Department</h6>
                <p>Mon-Sat : 8:00am - 5:00pm<br />
                  Sunday is closed</p>
              </div>
              <div class="b-info__aside-article-item">
                <h6>Service Department</h6>
                <p>Mon-Sat : 8:00am - 5:00pm<br />
                  Sunday is closed</p>
              </div>
            </article>
            <article class="b-info__aside-article">
              <h3>About us</h3>
              <p>Vestibulum varius od lio eget conseq
                uat blandit, lorem auglue comm lodo 
                nisl non ultricies lectus nibh mas lsa 
                Duis scelerisque aliquet. Ante donec
                libero pede porttitor dacu msan esct
                venenatis quis.</p>
            </article>
            <a href="<?=site_url('about')?>" class="btn m-btn">Read More<span class="fa fa-angle-right"></span></a>
          </aside>
        </div>
        <div class="col-md-3 col-xs-6">
                      <div class="b-info__latest">
                          <h3>Available Trucks</h3>
                          <div class="b-info__latest-article">
                              <div class="b-info__latest-article-photo m-audi"></div>
                              <div class="b-info__latest-article-info">
                                  <h6><a href="detail.html">Truck 1</a></h6>
                                  <p><span class="fa fa-tachometer"></span> 35,000 KM</p>
                              </div>
                          </div>
                          <div class="b-info__latest-article">
                              <div class="b-info__latest-article-photo m-audiSpyder"></div>
                              <div class="b-info__latest-article-info">
                                  <h6><a href="#">Truck 2</a></h6>
                                  <p><span class="fa fa-tachometer"></span> 35,000 KM</p>
                              </div>
                          </div>
                          <div class="b-info__latest-article">
                              <div class="b-info__latest-article-photo m-aston"></div>
                              <div class="b-info__latest-article-info">
                                  <h6><a href="#">Truck 3</a></h6>
                                  <p><span class="fa fa-tachometer"></span> 35,000 KM</p>
                              </div>
                          </div>
                      </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="b-info__latest">
            <h3>PAGES</h3>  
              <ul class="list-unstyled">
                <li class="footer-list__item"><a href="<?=site_url()?>">Home</a></li>
                <li class="footer-list__item"><a href="404.html">How it works</a></li>
                <li class="footer-list__item"><a href="<?=site_url('about')?>">About</a></li>
                <li class="footer-list__item"><a href="<?=base_url('contact')?>">Contact us</a></li>
              </ul> 
          </div>
        </div>
       
        <div class="col-md-3 col-xs-6">
          <address class="b-info__contacts">
            <p>contact us</p>
            <div class="b-info__contacts-item">
              <span class="fa fa-map-marker"></span>
              <em> <?=@$meta[26]->zsystem_value?></em>
            </div>
            <div class="b-info__contacts-item">
              <span class="fa fa-phone"></span>
              <em>Phone: <?=@$meta[25]->zsystem_value?></em>
            </div>
             
            <div class="b-info__contacts-item">
              <span class="fa fa-envelope"></span>
              <em><a href="mailto:<?=@$meta[28]->zsystem_value?>">Email:  <?=@$meta[28]->zsystem_value?></a></em>
            </div>
          </address>
          <address class="b-info__map">
            <a href="<?=@$meta[27]->zsystem_value?>">Open Location Map</a>
          </address>
        </div>
      </div>
    </div>
  </div><!--b-info-->

  <footer class="b-footer">
    <a id="to-top" href="#this-is-top"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <!-- wow fadeInLeft" data-wow-delay="0.3s -->
          <div class="b-footer__company">
            <div class="b-nav__logo">
              <a href="<?=base_url()?>">
                <img alt="Gallega Global Logistics" src="<?=file_common_dir('images/a-member-of-gag.svg')?>" width="61%">
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="b-footer__content">
            <div class="gal-social-icons text-right">  
                <?php if($meta[20]->zsystem_value){?>
                  <a href="<?=@$meta[20]->zsystem_value?>"><span class="gi-facebook font-light"></span></a>
                  <?php } if($meta[23]->zsystem_value){?>
                  <a href="<?=@$meta[23]->zsystem_value?>"><span class="gi-twitter font-light"></span></a>
                  <?php } if($meta[21]->zsystem_value){?>
                  <a href="<?=@$meta[21]->zsystem_value?>"><span class="gi-instagram font-light"></span></a>
                  <?php } if($meta[22]->zsystem_value){?>
                  <a href="<?=@$meta[22]->zsystem_value?>"><span class="gi-linkedin font-light"></span></a>
                  <?php } if($meta[24]->zsystem_value){?>
                  <a href="<?=@$meta[24]->zsystem_value?>"><span class="gi-youtube font-light"></span></a>
                  <?php } ?>
            </div>
            <nav class="b-footer__content-nav">
              <ul>
                <li><a href="home.html">Terms &amp; Condition</a></li>
                <li><a href="404.html">Privacy Policy</a></li>
                <li><a href="listings.html">FAQ</a></li> 
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </footer><!--b-footer-->