<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title><?=$meta['general']['title'] ? $meta['general']['title'] :  $meta[1]->zsystem_value;?></title>
<link rel="canonical" href="<?=get_current_url()?>">
<link rel="shortcut icon" type="image/x-icon" href="<?=$meta[6]->zsystem_value?>" /> 
<meta name="keywords" content="<?=$meta['general']['keywords'] ? $meta['general']['keywords'] :  $meta[10]->zsystem_value; ?>">
<!-- SEO meta tags @mel -->
<!-- Search Engine -->
<meta name="description" content="<?=$meta['general']['description'] ? $meta['general']['description'] : $meta[2]->zsystem_value;?>">
<meta name="image" content="<?=$meta['facebook']['image']?>">
<!-- Schema.org for Google -->
<meta itemprop="name" content="<?=$meta['general']['title']? $meta['general']['title'] :  $meta[1]->zsystem_value;?>">
<meta itemprop="description" content="<?=$meta['general']['description'] ? $meta['general']['description'] : $meta[2]->zsystem_value;?>">
<meta itemprop="image" content="<?=$meta['facebook']['image'];?>">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<?=$meta['twitter']['title'];?>">
<meta name="twitter:description" content="<?=$meta['twitter']['description'];?>">
<meta name="twitter:site" content="<?=$meta[23]->zsystem_value;?>">
<meta name="twitter:creator" content="<?=$meta[23]->zsystem_value;?>">
<meta name="twitter:image:src" content="<?=$meta['twitter']['image'];?>">

<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta property="og:title" content="<?=$meta['facebook']['title'] ? $meta['facebook']['title'] : $meta[1]->zsystem_value;?>">
<meta property="og:description" content="<?=$meta['facebook']['description'] ? $meta['facebook']['description'] : $meta[2]->zsystem_value;?>">
<meta property="og:image" content="<?=$meta['facebook']['image'];?>">
<meta property="og:url" content="<?=base_url()?>">
<meta property="og:site_name" content="<?=$meta[1]->zsystem_value;?>">
<meta property="og:locale" content="<?=$meta[12]->zsystem_value;?>">
<meta property="og:type" content="website">
 <!-- display JavaScript from DB -->
<?php 
$script = $meta[10]->zsystem_value;
if($script){
    $start = '[s]';
    $end = '[/s]';
    function GetBetween($content,$start,$end)
    {
        $r = explode($start, $content);
        $sp = array_filter($r);
        $sp = array_values($sp);
        if (isset($sp)){ 
            foreach($sp AS $k => $v){
              
                $r = explode($end, $sp[$k]); 
                echo "<script type='text/javascript' >". $r[0]."</script>";
            }
        }
        return '';
    }
    GetBetween($script,$start,$end); 
}
?>
 
