<header class="gal-mob-topbar">
    <div class="container">
      <div class="row">
        <div class="col-xs-7">  
          <div class="b-topBar__tel">
          <div class="dropdown">
              <a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-en"></span>EN<span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu h-lang">
                <li><a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-en"></span>EN</a></li>
                <li><a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-es"></span>ES</a></li>
                <li><a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-de"></span>DE</a></li>
                <li><a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-fr"></span>FR</a></li>
              </ul>
            </div>
            <span class="fa fa-envelope"></span>
              <a href="mailto:info@gallega.com">Email:  info@gallega.com</a> 
          </div>
        </div>
        <div class="col-xs-5">  
          <div class="b-topBar__tel">
            <span class=" p-r-20 pull-right">
            <a href="tel:+97148215099"> +971 48 215 099 </a></span>
          </div>
        </div>
      </div>
    </div>
  </header>