<?php defined('BASEPATH') OR exit('No direct script access allowed');?>
<?php
$menus = array( array('title' =>'Dashboard','id' => 'dashboard','icon' => 'mdi mdi-gauge'), 
                array('title' =>'Inquiries','id' => 'inquiries','icon' => 'mdi mdi-newspaper'),
                array('title' =>'Trucks','id' => 'trucks','icon' => 'mdi mdi-newspaper'),
                array('title' =>'Posts','id' => 'posts','icon' => 'mdi mdi-newspaper'),
                array('title' =>'Pages','id' => 'pages','icon' => 'mdi mdi-file-document-box'),
                array('title' =>'Contact Form','id' => 'contact_form','icon' => 'mdi mdi-book-multiple-variant'),
                array('title' =>'Menus','id' => 'menus','icon' => 'mdi mdi-menu'),
                array('title' =>'Media','id' => 'media','icon' => 'mdi mdi-file-image'),
                array('title' =>'Settings','id' => 'settings','icon' => 'mdi mdi-settings'),
                array('title' =>'Testimonials','id' => 'testimonials','icon' => 'mdi mdi-comment-account'),
                array('title' =>'Products','id' => 'products','icon' => 'mdi mdi-cart'),
                array('title' =>'Categories','id' => 'categories','icon' => 'mdi mdi-file-document'),
                array('title' =>'Payments','id' => 'payments','icon' => 'mdi mdi-credit-card'),
                array('title' =>'Customers','id' => 'customers','icon' => 'mdi mdi-account-multiple'),
                array('title' =>'Orders','id' => 'orders','icon' => 'mdi mdi-file-document'),
                array('title' =>'History','id' => 'history','icon' => 'mdi mdi-book-open-page-variant')
                );

$menu_active= @unserialize($active_menus[0]->zvalue);
$active_pages = $menu_active['pages'];
foreach($menus AS $k => $v){
    if (@$userType == 1 || in_array($v['id'], $active_pages)){
?>
<li class="<?=current_uri_segments($v['id'])?>"> <a class="waves-effect waves-dark <?=current_uri_segments($v['id'])?>" href="<?=site_url('client/page/'.$v['id'])?>/" aria-expanded="false"><i class="mdi <?=$v['icon']?>"></i><span class="hide-menu"><?=$v['title']?> </span></a> </li>
<?php } }?>
<li class="nav-small-cap">Administrator</li>
<li class="<?=current_uri_segments('users')?>"> <a class="waves-effect waves-dark <?=current_uri_segments('users')?>" href="<?=site_url('client/page/users/')?>" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Users </span></a> </li>
<?php  if( $userType == 1 ){?>
<li class="<?=current_uri_segments('system')?>"> <a class="waves-effect waves-dark <?=current_uri_segments('system')?>" href="<?=site_url('client/page/system/')?>" aria-expanded="false"><i class="mdi mdi-lock-pattern"></i><span class="hide-menu">System</span></a> </li>
<?php } ?>