<?php 
$profile_name = 'profile_name';
$profile_email = 'profile_email';
$profile_phone  = 'profile_phone';
$profile_website  = 'profile_website';
$profile_country  = 'profile_country'; 
$profile_state  = 'profile_state';
$profile_address  = 'profile_address';
$profile_fax  = 'profile_fax';
$profile_city  = 'profile_city';
$profile_license  = 'profile_license';

$profile_username = 'profile_username';
$profile_types = 'profile_types';
$puser = array('id' => 'inputUsername', 'placeholder' => '', 'class' => 'form-control', 'required'=> 'required');

$padd = array('id' => 'inputAddress', 'placeholder' => 'Enter Address', 'class' => 'form-control');
$pcode = array('id' => 'inputLicense', 'placeholder' => 'Enter Trade License', 'class' => 'form-control');
 
?>
<div class="row">
    <div class="col-md-12">
    <div class="card card-outline-info">
        <div class="card-header">
        <h4 class="m-b-0 text-white text-uppercase"><?=@$title?> Information</h4>                  
        </div>
        <div class="card card-body"> 
            <form class="needs-validation" novalidate="" id="form-users">
                <div class="form-row">
                <div class="col-md-6">
                        <div class="form-group row">
                            <label for="inputFirst" class="col-sm-3 text-right control-label col-form-label">Name</label>
                            <div class="col-sm-9">
                                    <label class="control-label col-form-label" id="inputFirst">Name</label> 
                                <?php if(@$_GET['id']){  ?>
                                <input type="hidden" class="hidden" value="<?=$_GET['id']?>" name='userID' required>
                                <?php } ?>
                                <input type="hidden" class="hidden" value="<?=$pages?>" name='formtype' required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="profemail" class="col-sm-3 text-right control-label col-form-label">Email</label>
                            <div class="col-sm-9">  
                                <label class="control-label col-form-label" id="profemail">Email</label> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPhone" class="col-sm-3 text-right control-label col-form-label">Phone</label>
                            <div class="col-sm-9"> 
                                <label class="control-label col-form-label" id="inputPhone">Phone</label> 
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="inputWeb" class="col-sm-3 text-right control-label col-form-label">Company</label>
                            <div class="col-sm-9">
                                    <label class="control-label col-form-label" id="inputWeb">Company</label> 
                            </div>  
                        </div>  
                       
                    </div>
                    <div class="col-md-6">
                    <div class="form-group row">
                            <label for="inputCountry" class="col-sm-3 text-right control-label col-form-label">Country</label>
                            <div class="col-sm-9">
                                    <label class="control-label col-form-label" id="inputCountry">Country</label> 
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="inputState" class="col-sm-3 text-right control-label col-form-label">State</label>
                          
                            <div class="col-sm-9">
                                    <label class="control-label col-form-label" id="inputState">State</label> 
                            </div>
                        </div>  
                        <div class="form-group row">
                            <label for="inputAddress" class="col-sm-3 text-right control-label col-form-label">Address</label>
                            <div class="col-sm-9"> 
                                <label class="control-label col-form-label" id="inputAddress">Address</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputpostal" class="col-sm-3 text-right control-label col-form-label">Trade License</label>
                            <div class="col-sm-9">
                                <label class="control-label col-form-label" id="inputpostal">Trade License</label>
                            </div> 
                        </div>
                        <div class="form-group row">
                            <label for="inputvat" class="col-sm-3 text-right control-label col-form-label">VAT Registration</label>
                            <div class="col-sm-9">
                                <label class="control-label col-form-label b-b" id="inputvat">VAT Registration</label>
                            </div> 
                        </div>
                    </div> 
                </div>
                <div class="row row-pass">
                    <div class="col-md-12">
                        <hr/>
 

                        <div class="form-group row"> 
                                    <label class="col-xl-1 col-md-6 col-sm-12 control-label col-form-label">Username</label>
                                    <div class="col-xl-2 col-md-6 col-sm-12"> 
                                    <?php if(@$pages == 'addnew'){ ?>
                                        <?php echo form_input($profile_username,'',$puser);  ?> 
                                    <?php }else{ ?>
                                    <label id="profUser" class="control-label col-form-label">-</label> 
                                    <?php } ?>
                                    </div> 

                                    <label class="col-xl-1 col-md-6 col-sm-12 control-label col-form-label text-right">Type</label>
                                    <div class="col-xl-2 col-md-6 col-sm-12"> 
                                        <select class="form-control" id="user_types" name="<?=$profile_types?>" required> 
                                            <option value="2">Administrator</option>
                                            <option value="3">Editor</option>
                                            <option value="4">SEO Editor</option>
                                            <option value="5">Staff</option>
                                            <option value="6" >Client</option>
                                        </select>
                                    </div> 

                                    <label class="col-xl-1 col-md-6 col-sm-12 control-label col-form-label text-right">Status</label>
                                    <div class="col-xl-2 col-md-6 col-sm-12"> 
                                        <select class="form-control" id="user_status" name="profile_status" required> 
                                            <option value="9">Published</option>
                                            <option value="15">Pending</option>
                                            <option value="18">Authenticated</option>
                                            <option value="3">Rejected</option>
                                            <option value="4">Private</option> 
                                        </select>
                                    </div> 
                        </div>
                         
                                
                                
                                 
                        <?php if(@$pages != 'addnew'){ ?>
                        
                        <input type="hidden" hidden class="hidden" id="old_user_types"   name='old_profile_types'>
                        <input type="hidden" hidden class="hidden" id="old_user_status"   name='old_profile_status'> 
                        <?php } ?>
                          
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Submit</button> 
                            </div> 
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>