<?php 
$profile_name = 'profile_name';
$profile_email = 'profile_email';
$profile_phone  = 'profile_phone';
$profile_website  = 'profile_website';
$profile_country  = 'profile_country'; 
$profile_state  = 'profile_state';
$profile_address  = 'profile_address';
$profile_fax  = 'profile_fax';
$profile_city  = 'profile_city';
$profile_postal_code  = 'profile_postal_code';

$profile_username = 'profile_username';
$profile_types = 'profile_types';
$puser = array('id' => 'inputUsername', 'placeholder' => '', 'class' => 'form-control', 'required'=> 'required');

$padd = array('id' => 'inputAddress', 'placeholder' => 'Current Address', 'class' => 'form-control');
$pcode = array('id' => 'inputpostal', 'placeholder' => 'Postal Code', 'class' => 'form-control');
 
?>
<div class="row">
    <div class="col-md-12">
    <div class="card card-outline-info">
        <div class="card-header">
        <h4 class="m-b-0 text-white text-uppercase"><?=@$title?> Information</h4>                  
        </div>
        <div class="card card-body"> 
            <form class="needs-validation" novalidate="" id="form-users">
                <div class="form-row">
                <div class="col-md-6">
                        <div class="form-group row">
                            <label for="inputFirst" class="col-sm-3 label-right control-label col-form-label">Name*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputFirst"  placeholder="Name" name="<?=$profile_name?>" autofocus required>
                                <?php if(@$_GET['id']){  ?>
                                <input type="hidden" class="hidden" value="<?=$_GET['id']?>" name='userID' required>
                                <?php } ?>
                                <input type="hidden" class="hidden" value="<?=$pages?>" name='formtype' required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="profemail" class="col-sm-3 label-right control-label col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" autocomplete="username" id="profemail" class="form-control" name="<?=$profile_email?>" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPhone" class="col-sm-3 label-right control-label col-form-label">Phone</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputPhone" placeholder="Phone Number" name="<?=$profile_phone?>">
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="inputWeb" class="col-sm-3 label-right control-label col-form-label">Website</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputWeb" placeholder="Website" value="<?=base_url()?>" name="<?=$profile_website?>">
                            </div>  
                        </div>  
                       
                    </div>
                    <div class="col-md-6">
                    <div class="form-group row">
                            <label for="inputCountry" class="col-sm-3 label-right control-label col-form-label">Country</label>
                            <div class="col-sm-9">
                                <select class="custom-select" id="inputCountry" name="<?=$profile_country?>">
                                    <option value="United Arab Emirates">United Arab Emirates</option> 
                                </select>
                                <div class="invalid-feedback">You need to select a Country</div>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="inputState" class="col-sm-3 label-right control-label col-form-label">State</label>
                          
                            <div class="col-sm-9">
                                    <select class="custom-select" id="inputState" name="<?=$profile_state?>">
                                        <option value=""> - Select State - </option>
                                        <option value="Abu Dhabi">Abu Dhabi</option> 
                                        <option value="Ajman">Ajman</option>
                                        <option value="Dubai">Dubai</option>
                                        <option value="Fujaira">Fujaira</option>
                                        <option value="Ras al Khaimah">Ras al Khaimah</option>
                                        <option value="Sharjah">Sharjah</option>
                                        <option value="Umm al-Qaiwain">Umm al-Qaiwain</option>
                                    </select>
                                    <div class="invalid-feedback">You need to select a State</div>
                            </div>
                        </div>  
                        <div class="form-group row">
                            <label for="inputAddress" class="col-sm-3 label-right control-label col-form-label">Address</label>
                            <div class="col-sm-9"> 
                                <?php echo form_input($profile_address,'',$padd);  ?> 
                            </div>
                        </div> 
                    </div> 
                </div>
                <div class="row row-pass">
                    <div class="col-md-12">
                        <hr/>
 

                        <div class="form-group row"> 
                                    <label class="col-xl-1 col-md-6 col-sm-12 control-label col-form-label">Username</label>
                                    <div class="col-xl-2 col-md-6 col-sm-12"> 
                                    <?php if(@$pages == 'addnew'){ ?>
                                        <?php echo form_input($profile_username,'',$puser);  ?> 
                                    <?php }else{ ?>
                                    <label id="profUser" class="control-label col-form-label">-</label> 
                                    <?php } ?>
                                    </div> 

                                    <label class="col-xl-1 col-md-6 col-sm-12 control-label col-form-label label-right">Type</label>
                                    <div class="col-xl-2 col-md-6 col-sm-12"> 
                                        <select class="form-control" id="user_types" name="<?=$profile_types?>" required> 
                                            <option value="2">Administrator</option>
                                            <option value="3">Editor</option>
                                            <option value="4">SEO Editor</option>
                                            <option value="5">Staff</option>
                                            <option value="6" >Customer</option>
                                        </select>
                                    </div>

                                    <label class="col-xl-1 col-md-6 col-sm-12 control-label col-form-label label-right">Type</label>
                                    <div class="col-xl-2 col-md-6 col-sm-12"> 
                                        <select class="form-control" id="customer_types" name="customer_types" required> 
                                            <optgroup label="Customers Only">
                                            <option value=""> - Select -</option>
                                            <option value="19">Normal</option>
                                            <option value="20">Advance</option>
                                            <option value="21">Premium</option>
                                            </optgroup> 
                                        </select>
                                    </div>

                                    <label class="col-xl-1 col-md-6 col-sm-12 control-label col-form-label label-right">Status</label>
                                    <div class="col-xl-2 col-md-6 col-sm-12"> 
                                        <select class="form-control" id="user_status" name="profile_status" required> 
                                            <option value="9">Published</option>
                                            <option value="15">Pending</option>
                                            <option value="18">Authenticated</option>
                                            <option value="3">Rejected</option>
                                            <option value="4">Private</option> 
                                        </select>
                                    </div> 
                        </div>
                        <div class="form-group row"> 
                            <label for="inputPass" class="col-xl-1 col-md-6 col-sm-12 control-label col-form-label">Password</label>
                            <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="input-group">
                                    
                                    <input type="password" autocomplete="current-password" class="form-control col-md-6 col-sm-12" id="inputPass" name="profile_password" maxlength="25"  <?php if(@$_GET['id']){}else{ echo 'required'; }  ?>  placeholder="****************************">    
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-theme text-white" id="basic-addon2">
                                        <i class="fa view-pass fa-eye reveal-pass"></i>
                                    </span>
                                    </div>
                                </div>
                                
                                <div class="p-t-10"> 
                                   <a href="#" class="generate-pass" id="generate-pass"> Generate Password </a> 
                                </div>
                                <?php if(@$pages != 'addnew'){ ?>
                                <div class="p-t-10"> <code>Leave the password empty if you dont want to change.</code></div>
                                <input type="hidden" hidden class="hidden" id="old_inputFirst"   name='old_profile_name'>
                                <input type="hidden" hidden class="hidden" id="old_profemail"   name='old_profile_email'>
                                <input type="hidden" hidden class="hidden" id="old_inputPhone"   name='old_profile_phone'>
                                <input type="hidden" hidden class="hidden" id="old_inputWeb"   name='old_profile_website'>
                                <input type="hidden" hidden class="hidden" id="old_inputCountry"   name='old_profile_country'>
                                <input type="hidden" hidden class="hidden" id="old_inputState"   name='old_profile_state'>
                                <input type="hidden" hidden class="hidden" id="old_inputAddress"   name='old_profile_address'>  

                                <input type="hidden" hidden class="hidden" id="old_user_types"   name='old_profile_types'>
                                <input type="hidden" hidden class="hidden" id="old_user_status"   name='old_profile_status'> 
                                <?php } ?>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Submit</button> 
                            </div> 
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>